extends layout

include utils.pug

block content
    .gridContainer2
        .countries
            .countriesBody
                .myCountriesHeader
                    h2.middle2 Countries
                ul.omg2
                    each country in countries
                        a(href="/countries/"+country.id).tripName2
                            img(src=country.flagUrl class="countryImg maskCountry")
                            h3=country.name
