<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
			header.navbar-registered 
				a.logo(href="/") <!-- does this need to have a full url or just the path? -->
					img.logo(alt="PassportsLogo" src="https://i.postimg.cc/mrMzWH9K/Pass-Port-Icon.png")