extends layout

block content
	form(action="/" method="post")
		input(type="hidden" name="_csrf" value=csrfToken)
		label(for="userName") Username
		input(type="text" name="userName" value=userName placeholder="Username" required)
		label(for="displayName") Display Name
		input(type="text" name="displayName" value=displayName placeholder="Display Name" required)
		label(for="email") Email
		input(type="email" name="email" value=email placeholder="Email" required)
		label(for="password") Password
		input(type="password" name="password" placeholder="Password" required)
		label(for="confirmPassword") Confirm Password
		input(type="password" name="confirmPassword" placeholder="Confirm Password" required)
		button(type="submit") Submit