extends layout
block content
    h1 Welcome to Passport
    .container.home
        table.topTen
            thead
                th.column Stamp Name
                th.column Stamp Location
                th.column Stamp Rating
            .scroll
                table.topTen
                    tbody
