doctype html
html
  head
      block head
        title="Passport Group Project"
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/signup.css')
        link(rel='stylesheet' href='/stylesheets/profile.css')
        link(rel='stylesheet' href='/stylesheets/stamps-create.css')
        link(rel='stylesheet' href='/stylesheets/error.css')
        link(rel='stylesheet' href='/stylesheets/home.css')
        link(rel='stylesheet' href='/stylesheets/team.css')
        link(rel='stylesheet' href='/stylesheets/view-stamp.css')
        link(rel='stylesheet' href='/stylesheets/all-countries.css')
        link(rel='stylesheet' href='/stylesheets/country.css')
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link( rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap")
  body
    nav.container__navbar
      div.container__logo
        //- https://i.postimg.cc/mrMzWH9K/Pass-Port-Icon.png
        a#lg(href="/"): img#logo(alt="logo" src="/passportglobal.png")
        //- a#app_title(href="/") PASSPORT GLOBAL

      if authenticated
        //- div.container__links
        div.container__links
          a(href='/').btn Home
          a(href=`/users/${curUser.id}`).btn Profile
          a(href='/countries').btn Countries
          a(href='/stamps/create').btn Create Stamp
          a(href='/team').btn Meet The Team

          form(action='/users/logout' method='post')
            button.btn(type='submit') Logout
      else
        div.container__account
          form(method='post' action='/users/demo')
          a(href='/users/signup').btn Register
          a(href='/users/login').btn Login
    block content

    nav.footer_container
      div(class='person1')
        p(class="name") Peter Anderson
        a.trim(href='https://www.linkedin.com/in/peterbanderson1/' class='linked')
          img.sty(src="/icons/linkedin-icon.svg")
        a.trim(href='https://github.com/pantheman1' class='github')
          img.sty2(src="/icons/github-icon.svg")
      div(class='person1')
        p(class="name") Raymond-Arthur May
        a.trim(href='https://www.linkedin.com/in/coderay/' class='linked')
          img.sty(src="/icons/linkedin-icon.svg")
        a.trim(href='https://github.com/raymondmay95' class='github')
          img.sty2(src="/icons/github-icon.svg")
      div(class='person1')
        p(class="name") Veer Singh
        a.trim(href='https://www.linkedin.com/in/veerkaran-singh-45b4a9190/' class='linked')
          img.sty(src="/icons/linkedin-icon.svg")
        a.trim(href='https://github.com/V3RS' class='github')
          img.sty2(src="/icons/github-icon.svg")
      div(class='person1')
        p(class="name") Robert Vogtritter
        a.trim(href='https://www.linkedin.com/in/robertvogtritter/' class='linked')
          img.sty(src="/icons/linkedin-icon.svg")
        a.trim(href='https://github.com/RobertVogue' class='github')
          img.sty2(src="/icons/github-icon.svg")
