doctype html
html
  head
      block head
        title="Passport Group Project"
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel='stylesheet' href='/stylesheets/signup.css')
        link(rel='stylesheet' href='/stylesheets/profile.css')
        link(rel='stylesheet' href='/stylesheets/stamps-create.css')
        link(rel='stylesheet' href='/stylesheets/error.css')
        link(rel='stylesheet' href='/stylesheets/home.css')
        link(rel='stylesheet' href='/stylesheets/team.css')
        link(rel='stylesheet' href='/stylesheets/passport.css')
  body
    nav.container__navbar
      div.container__logo
        //- https://i.postimg.cc/mrMzWH9K/Pass-Port-Icon.png
        a#lg(href="/"): img#logo(alt="logo" src="/passportglobal.png")
        //- a#app_title(href="/") PASSPORT GLOBAL
      div.searchBar
        <input type="text" placeholder="Search for Countries" class="search">
      if authenticated
        //- div.container__links
        div.container__account
          a(href=`/users/${curUser.id}`): button.btn Profile
          a(href='/stamps/create'): button.btn Create Stamp

          form(action='/users/logout' method='post')
            button.btn(type='submit') Logout
      else
        div.container__account
          form(method='post' action='/users/demo')
            button.btn(type='submit') Demo Login
          a(href='/users/signup'): button.btn Register
          a(href='/users/login'): button.btn Login
    block content

    nav.footer_container
      div(class='person1')
        p(class="name") Peter Anderson
        a(href='https://www.linkedin.com/in/peterbanderson1/' class='linked')
          img.sty(src="/icons/linkedin-icon.svg")
        a(href='https://github.com/pantheman1' class='github')
          img.sty2(src="/icons/github-icon.svg")
      div(class='person1')
        p(class="name") Raymond-Arthur May
        a(href='https://www.linkedin.com/in/coderay/' class='linked')
          img.sty(src="/icons/linkedin-icon.svg")
        a(href='https://github.com/raymondmay95' class='github')
          img.sty2(src="/icons/github-icon.svg")
      div(class='person1')
        p(class="name") Veer Singh
        a(href='https://www.linkedin.com/in/veerkaran-singh-45b4a9190/' class='linked')
          img.sty(src="/icons/linkedin-icon.svg")
        a(href='https://github.com/V3RS' class='github')
          img.sty2(src="/icons/github-icon.svg")
      div(class='person1')
        p(class="name") Robert Vogtritter
        a(href='https://www.linkedin.com/in/robertvogtritter/' class='linked')
          img.sty(src="/icons/linkedin-icon.svg")
        a(href='https://github.com/RobertVogue' class='github')
          img.sty2(src="/icons/github-icon.svg")
