doctype html
html
  head
      block head
        title="Passport Group Project"
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/login.css')
  body
    nav.container__navbar
      div.container__logo
        a#lg(href="/"): img#logo(alt="logo" src="https://i.postimg.cc/mrMzWH9K/Pass-Port-Icon.png")
        a#app_title(href="/") PASSPORT GLOBAL
      if authenticated
        //- div.container__links
        div.container__account
          a(href='/profile'): button.btn Profile
          a(href='/stamps/create'): button.btn Create Stamp
          form(action='/users/logout' method='post')
            button.btn(type='submit') Logout
      else
        div.container__account
          form(method='post' action='/users/demo')
            button.btn(type='submit') Demo Login
          a(href='/users/signup'): button.btn Register
          a(href='/users/login'): button.btn Login
    block content
