doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/') Passport
      .navbar-nav
        a.nav-item.nav-link(href='/profile') My Passport
    block content
    footer
      