doctype html
html
  head
      block head
        title="Passport Group Project"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    header.navbar-registered <!-- this is the navbar container -->
      div
        a.logo(href="/") <!-- does this need to have a full url or just the path? -->
          img.logo-img(alt="Passports Logo" src="https://i.postimg.cc/mrMzWH9K/Pass-Port-Icon.png")
      div
        a.nav-item1.nav-link(type='/profile') My Stamps <!-- needs to be hidden if not logged in  -->
      div
        a.nav-item2.nav-link(href='/create-stamp') Create Stamp
      div
        a.nav-item3.nav-link(href='/register') Register
      div
        a.nav-item4.nav-link(href='/login') Login
    block content
    
    include footer

