extends layout
include utils

block content
	div.login_container
		div.bigBox
			form.login_form(method='post' action='/users/login')
				h2.headerr Welcome Back!
				input(type='hidden' name='_csrf' value= csrfToken)
				div
					label.box Email:
					input.box(type ='email' name='email' placeholder='email' value=email)
				div
					label.box Password:
					input.box(type='password' name='password' placeholder='password')
				div
					button(type='submit' class='login_button1') Login
			form.demo_container(method='post' action='/users/demo')
				div
					button(type='submit' class='login_button2') Demo Login
				div.signup_redirect_container
					a(href='/users/signup' class='login_button3') Sign Up Here!
			+validationErrorSummary(errors)

		//- div.login_buttons
