extends layout

include utils

block content
    form(method='post' action='/users/login')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            label Email
            input(type='email' name='email')
        div
            label Password
            input(type='password' name='password')
        div
            button(type='submit') Login
        div
            form(method='post' action='/users/demo')
                button(type='submit') Demo Login
    div
        a(href='/users/signup') Sign Up here!
    +validationErrorSummary(errors)
