extends layout

include utils

block content
    +validationErrorSummary(errors)
    form(method='post' action='/users/login')
        input(type='hidden' name='_csrf' value=csrfToken)
        div
            label Email
            input(type='email' name='email')
        div
            label Password
            input(type='password' name='password')
        div
            button(type='submit') Login
            button(href='/users/demo') Demo Login
    div
        a(href='/users/signup') Sign Up here!
