extends layout
include utils

block content
   .sub_a
        a(href='/'): button.btn2 Home
        if authenticated
            a(href=`/passports`): button.btn2 My Passports
        a(href='/team'): button.btn2 Meet The Team
   if passports
      .gridContainer
         .profileBody
            .myStampsHeader
               ul.omg
               each value, index in passports
                  a.tripName(href="") (href='/passports/'+index class=value.passport_status)=value.passport_status
   else if stamps
      .profileBody
         .myStampsHeader
         ul.middle
            each stamp in stamps
               li.imgLiTag
                  a(href=`/stamps/`+stamp.id): img(src=stamp.imgURL class='stampImg')
