extends layout
include utils

block content
   .sub_a
      a(href='/'): button.btn2 Home
      if authenticated
         a(href=`/passports`): button.btn2 My Passports
      a(href='countries'): button.btn2 Countries
      a(href='/team'): button.btn2 Meet The Team
   if passports
      .passportContainer
         .innerContainer
            ul.textDecore
            each value, index in passports
               a.ptitle(href='/passports/'+index class=value.passport_status)=value.passport_status
   else if stamps
      .passport_stamps_container
         .passport_stamps
            ul.scroll_stamps
            each stamp in stamps
               li.passport_stamps_image_container
                  h2.passports_stamps_header=stamp.name
                  a(href=`/stamps/`+stamp.id): img(src=stamp.imgURL class='stamp_images')
