extends layout
include utils

block content
   if passports
      .passportContainer
            .innerContainer
               ul.textDecore
                  each value, index in passports
                     a(href='passports/'+index class=value.passport_status)=value.passport_status
   else if stamps
      .passport_stamps
         ul
         each stamp in stamps
            li.passport_stamps_image_container
               a(href=`/stamp/`+stamp.id): img(src=stamp.imgURL class='stamp_images')
               h2.passports_stamps_header=stamp.name
