extends layout

block content
	.sub_a
		a(href='/'): button.btn2 Home
		if authenticated
			a(href=`/users/${curUser.id}`): button.btn2 My Passports
		a(href='/team'): button.btn2 Meet The Team
	h1.myProfileHeader My Profile
	.gridContainer
		.leftSideColumn
		.profileBody
			.myStampsHeader
				h2 My Stamps
			ul
				each name, image in obj
					li.imgTag
						h3.tripName= name
						img.stampImg(src=image class="stampImg" name=name)
		.rightSideColumn
