extends layout

block content
	h1.myProfileHeader My Profile
	.gridContainer
		.leftSideColumn
		.profileBody
			.myStampsHeader
				h2 My Stamps
			ul
				each name, image in obj
					li.imgTag
						h3.tripName= name
						img.stampImg(src=image class="stampImg" name=name)
		.rightSideColumn
