extends layout
//- include background
include utils

block content
	div.outer_container
		div.content_container
			form#create_stamp_form(action="/stamps/create" method="post")
				.status_header STATUS
				.country_header WHERE WAS YOUR TRIP?
				.cost_header COST
				input(type="hidden" name="_csrf" value=csrfToken)
				label.trip_name(for="name") Select a Name For Your Vacation Stamp!
				input.trip_name_box(type="text" name="name" placeholder="What are you going to call this trip?" required)
				select.status.dropdown(name="passport_id" required)
					option.default(value="default" selected disabled hidden) -Status-
					option(value="visited") Visited
					option(value="must go") Must go!
					option(value="I'm a local") I'm a local
				select#countries.dropdown(name="countries_id" placeholder="Select Country" required)
					each country in countries
						option.default(value="default" selected disabled hidden) -Choose the country you visited!-
						option(value=country.id)= country.name
				label.price(for="price")
				select.price.dropdown(type="text" name="price" value="$ $$ $$$" required)
					option.default(value="Pick One" selected disabled hidden) -Pick!-
					option(value="$") $
					option(value="$$") $$
					option(value="$$$") $$$
				.det_loc_text
					label.detailed_location_label(for="detailed_location") Detailed Location
				.det_loc
					input.detailed_location(type="text" name="detailed_location" placeholder="Now where exactly was this place...?" required)
				.date
					label.start(for="start") Trip Start
					input.start(type="date" name="start" required)
					label.start(for="start") Trip End
					input.end(type="date" name="end" required)
				.det_desc_text
					label.description_label(for="review") Detailed Description
				.det_desc
					textarea#description(name="review" placeholder="Best trip ever!\nThe food was...!\nYou have to go to the...\nThis trip would be so good for...\nLost the little one...again." cols="30", rows="10" required)
				.tags
					label#tags_label(for="tags_id") Tag your trip!
					select.dropdown(name="tags_id" placeholder="Tag your trip!" required) 
						each tag in tags
							option(value=tag.id)= tag.name
				.imgURL_label
					label(for="imgURL") Paste a URL Link to a Picture of Your Trip!
				.imgURL
					input(type="text" name="imgURL")
				.rating
					input#star5(type="radio" name="rating" value="5")
					label(for="star5" title="text") 5
					input#star4(type="radio" name="rating" value="4")
					label(for="star4" title="text") 4
					input#star3(type="radio" name="rating" value="3")
					label(for="star3" title="text") 3
					input#star2(type="radio" name="rating" value="2")
					label(for="star2" title="text") 2
					input#star1(type="radio" name="rating" value="1")
					label(for="star1" title="text") 1
				button.btn.stamp_btn Create Stamp!

