extends layout

block content
	.outer_container
		.header
		.location_price
		.description
		.rating
        a#star(href="/"): img#logo(alt="logo" src="https://cliparting.com/wp-content/uploads/2016/05/Star-line-clipart-free-clipart-images.png")
        a#star(href="/"): img#logo(alt="logo" src="https://cliparting.com/wp-content/uploads/2016/05/Star-line-clipart-free-clipart-images.png")
        a#star(href="/"): img#logo(alt="logo" src="https://cliparting.com/wp-content/uploads/2016/05/Star-line-clipart-free-clipart-images.png")
        a#star(href="/"): img#logo(alt="logo" src="https://cliparting.com/wp-content/uploads/2016/05/Star-line-clipart-free-clipart-images.png")
        a#star(href="/"): img#logo(alt="logo" src="https://cliparting.com/wp-content/uploads/2016/05/Star-line-clipart-free-clipart-images.png")
		.tags