extends layout
block content
    .sub_a
        a(href='/'): button.btn2 Home
        if authenticated
            a(href=`/user/passport`): button.btn2 My Passports
        a(href='/team'): button.btn2 Meet The Team
    .team_main
        h1 Meet the Team
            .team_container
                .member
                    h5.team1 Peter Anderson
                        .headshot_container
                            img(src="/headshots/peter.jpg" alt="headshot")
                            h5.team1_title Developer
                                .icon_container
                                    a(href="https://www.linkedin.com/in/veerkaran-singh-45b4a9190/")
                                        img(src="/icons/linkedin-icon.svg")
                                    a(href="https://github.com/pantheman1")
                                        img(src="/icons/github-icon.svg")
                .member
                    h5.team1 Robert Vogtritter
                        .headshot_container
                            img(src="/headshots/bo.jpg" alt="headshot")
                            h5 Developer
                                .icon_container
                                    a(href="https://www.linkedin.com/in/veerkaran-singh-45b4a9190/")
                                        img(src="/icons/linkedin-icon.svg")
                                    a(href="https://github.com/RobertVogue")
                                        img(src="/icons/github-icon.svg")
                .member
                    h5.team1 Raymond May
                        .headshot_container
                            img(src="/headshots/ray.jpg" alt="headshot")
                            h5 Developer
                                .icon_container
                                    a(href="https://www.linkedin.com/in/coderay/")
                                        img(src="/icons/linkedin-icon.svg")
                                    a(href="https://github.com/raymondmay95")
                                        img(src="/icons/github-icon.svg")
                .member
                    h5.team1 Veer Singh
                        .headshot_container
                            img(src="/headshots/veer.jpg" alt="headshot")
                            h5 Developer
                                .icon_container
                                    a(href="https://www.linkedin.com/in/veerkaran-singh-45b4a9190/")
                                        img(src="/icons/linkedin-icon.svg")
                                    a(href="https://github.com/V3RS")
                                        img(src="/icons/github-icon.svg")
