extends layout
block content
    .sub_a
        a(href='/'): button.btn2 Home
        if authenticated
            a(href=`/passports`): button.btn2 My Passports
        a(href='countries'): button.btn2 Countries
        a(href='/team'): button.btn2 Meet The Team
    .team_main
        h1 Developers
            .team_container
                .member.H1a
                    h5.team1 Peter Anderson
                        .headshot_container
                            img(src="/headshots/peter.jpg" alt="headshot")
                            h5.team1_title Developer
                                .icon_container
                                    a.pos(href="https://www.linkedin.com/in/veerkaran-singh-45b4a9190/")
                                        img(src="/icons/linkedin-icon.svg")
                                    a.neg(href="https://github.com/pantheman1")
                                        img(src="/icons/github-icon.svg")
                    h5.beta Top Skill: Frontend/Routes/PUG
                .member.H2a
                    h5.team1 Robert Vogtritter
                        .headshot_container
                            img(src="/headshots/bo.jpg" alt="headshot")
                            h5 Developer
                                .icon_container
                                    a.pos(href="https://www.linkedin.com/in/veerkaran-singh-45b4a9190/")
                                        img(src="/icons/linkedin-icon.svg")
                                    a.neg(href="https://github.com/RobertVogue")
                                        img(src="/icons/github-icon.svg")
                    h5.beta Top Skill: Frontend/CSS/PUG
                .member.H3a
                    h5.team1 Raymond May
                        .headshot_container
                            img(src="/headshots/ray.jpg" alt="headshot")
                            h5 Developer
                                .icon_container
                                    a.pos(href="https://www.linkedin.com/in/coderay/")
                                        img(src="/icons/linkedin-icon.svg")
                                    a.neg(href="https://github.com/raymondmay95")
                                        img(src="/icons/github-icon.svg")
                    h5.beta Top Skill: Backend/Queries/PUG
                .member.H4a
                    h5.team1 Veer Singh
                        .headshot_container
                            img(src="/headshots/veer.jpg" alt="headshot")
                            h5 Developer
                                .icon_container
                                    a.pos(href="https://www.linkedin.com/in/veerkaran-singh-45b4a9190/")
                                        img(src="/icons/linkedin-icon.svg")
                                    a.neg(href="https://github.com/V3RS")
                                        img(src="/icons/github-icon.svg")
                    h5.beta Top Skill: Backend/Routes/AUTH
            .project_container
                .H5 Project Details
                    .project_slaps
                        .firstBox
                            ul.hey Wiki
                                a.pn(href="https://github.com/RobertVogue/Passport/wiki/feature-list")
                                    li.top Feature List
                                a.pn(href="https://github.com/RobertVogue/Passport/wiki/user-story-and-acceptance-criteria")
                                    li.top User Stories
                                a.pn(href="https://https://github.com/RobertVogue/Passport/wiki/database-schema")
                                    li.top Database Schema
                                a.pn(href="https://github.com/RobertVogue/Passport/wiki/production-readme")
                                    li.top Production README

                        .secondBox
                            ul.hey Applications
                                li.top Express
                                li.top PUG
                                li.top CSS
                                li.top Node.js
