mixin validationErrorSummary(errors)
    if errors
        div(class='error' role='alert')
                ul.error_list
                    h3#errTitle The following errors(s) occurred:
                    each error in errors
                        li#errLi= error
