extends layout

include utils.pug

block content
    .stamp_container
        .stamp_left
            .status
                h3 #{passport.passport_status}
            .dates
                h3 #{}
            .price
            .detailed_location
            .review
            .rating
        .stamp_right
            .country
            .stamp_img
