
.gridContainer2 {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: scroll;
    width: 100vw;
    height: 81vh;
    background: linear-gradient(-45deg, #60319e, #1c368b, #3677ee, #0a1cbe);
    background-size:400% 400%;
    animation: extreme 20s ease-in-out infinite;
  }
  @keyframes extreme {
     0% {
         background-position: 0 0;
     }
     50% {
         background-position: 100% 100%;
     }
     100% {
         background-position: 0 0;
     }
  }
  .myCountriesHeader {
     margin: 10px;
     padding: 10px;
     text-align: center;
     margin-bottom: 20px;
  }

  .countriesBody {
     display: flex;
     width: 60vw;
     flex-direction: column;
  }
  .omg2 {
     color: white;
     display: flex;
     flex-wrap: wrap;
     width: 60vw;
  }

  img[class^="xountryImg"] {
     max-width: 100%;
     box-sizing: border-box;
  }
  .maskCountry {
     border-radius: 25%;
     width: 150px;
     height: 100px;
  }
  .tripName2 {
     text-align: center;
     display: flex;
     justify-content: center;
     padding-bottom: 20px;
  }

  .tripName2 > h3 {
     margin-left: 60px;
     color: white;
     font-size: 20px;
     border: 2px solid white;
     width: 300px;
     text-transform: uppercase;
  }
  .imgLiTag2 {
     display: flex;
     align-items: center;
     justify-content: center;
     list-style-type: none;
  }
  .middle2 {
     text-align: center;
     font-weight: bold;
     font-size: 50px;
     color: white;
     border-bottom: 5px solid white;
  }

.hidden_country {
    display: none;
 }
  /* .id {
     display: none;
  }
  .user_id {
     display: none;
  }
  .updatedAt {
     display: none;
  }
  .createdAt {
     display: none;
  }
  .passport_status {
     margin: 0;
     padding: 5px;
     text-indent: 2px;
     font-weight: bold;
  }
  .need {
     width: 10vw;
     margin-top: 10px;
  }
  .localPassport {
     display: flex;
     justify-content: space-around;
     list-style-type: none;
     margin-top: 1rem;
     width: 90%;
  }
  .goToPassport {
     display: flex;
     justify-content: space-around;
     list-style-type: none;
     margin-top: 1rem;
     width: 90%;
  }
  .visitedPassport {
     display: flex;
     justify-content: space-around;
     list-style-type: none;
     margin-top: 1rem;
     width: 90%;
  }
  .ImgContainer {
     display: flex;
     justify-content: space-around;
     list-style-type: none;
     padding: auto;
     border: none;
     max-width: 90%;
  }
  .localImg {
     height: 95%;
     width: 98%;
  }
  .leftSideColumnTitle {
     text-align: center;
     font-weight: bold;
     font-size: 50px;
     color: white;
     border-bottom: 5px solid white;
  }
  .hidden_stamp {
     display: none;
  } */
