
.gridContainer3 {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    width: 100vw;
    height: 89vh;

  }
.gridContainer3::-webkit-scrollbar {
   display: none;
}

  .countryHeader {
    /* display: flex; */
    text-align: center;
    margin-bottom: 20px;
  }

  .countryBody {
     /* display: flex;
     align-items: center;
     justify-content: center; */
     width: 60vw;
     flex-direction: column;
  }

  .omg3 {
     color: black;
     display: flex;
     flex-wrap: wrap;
     width: 60vw;
     align-items: center;
  }

  img[class^="stampImg"] {
     max-width: 100%;
     box-sizing: border-box;
  }
  .mask1 {
      border-radius: 0px;
      width: 278px;
      height: 250px;
      outline: none;
      border: none;
      background-color: white;
  }

  .tripName3 {
     text-align: center;
     display: flex;
     justify-content: center;
     padding-bottom: 20px;
     padding-right: 10px;
     align-items: center;
     list-style-type: none;
     position: relative;
  }
  .tripName3 > h3 {
   display: none;
   color: black;
   font-size: 15px;
   width: 300px;
   text-transform: uppercase;
   position: absolute;
   font-weight: 800;
  }
  .tripName3:hover .mask1 {
   opacity: 0.2;
}
  .tripName3:hover > h3 {
   display: block;
}
  .imgLiTag3 {
     display: flex;
     align-items: center;
     justify-content: center;
     list-style-type: none;
  }
  .middle3 {
     text-align: center;
     font-weight: bold;
     font-size: 50px;
     color: black;
     border-bottom: 5px solid black;
  }
