.main {
    display: flex;
    background: linear-gradient(-45deg, #adadad, #dbdbdb, #8fb2be, #c2c2c2, #adadad, #8fb2be, #adadad);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 87vh;
}
.sub_abc {
    background-image: url("../perfectFinal.png");
    background-size: cover;
    width: 100vw;
    height: 30vh;
}
.sub_form {
    margin-left: 700px;
}
.form_sub {
    background-color: white;
    padding: 5%;
    margin-left: 424px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 27vh;
    border: 1px solid black;
    justify-content: center;
    align-items: left;
    text-align: left;
}
.form_sub div {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.sub_a {
    display: flex;
    background: linear-gradient(-45deg, #60319e, #1c368b, #3677ee, #0a1cbe);
    background-size:400% 400%;
    animation: medium 20s ease-in-out infinite;
    height: 6vh;
    width: 100vw;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 2px solid black;
}

.btn2 {
    height: 6vh;
    min-width: 140px;
    max-width: 160px;
    background: linear-gradient(-45deg, #60319e, #1c368b, #3677ee, #0a1cbe);
    border: 1px solid black;
    border-radius: 0px;
    cursor: pointer;
    /* transition: all 0.3s ease 0s; */
    outline: none;
    color:white;
    background-size:400% 400%;
    animation: medium 20s ease-in-out infinite;
    overflow: hidden;
    /* box-sizing: border-box; */
    /* border appears when the button is being clicked. Needs to be fixed. */
}
.etc {

    padding-right: 10px;
}
@keyframes medium {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.btn2:hover {
    background: linear-gradient(-45deg, #60319e, #a100b6, #1100ff, #cc00ff);
    color: white;
    outline: none;
    border: none;
    background-size:400% 400%;
    animation: medium 4s ease-in-out infinite;

}

.sub_b {
    color: white;
    display: flex;
    width: 100vw;
    height: 55vh;
    justify-content: space-between;
    background: linear-gradient(-45deg, #60319e, #1c368b, #3677ee, #0a1cbe);
    background-size:400% 400%;
    animation: medium 20s ease-in-out infinite;
    border-top: 2px solid black;
}
.b2 {
    height: 3.2vh;
    border-bottom: 2px solid white;
}
.print {
    padding-top: 10px;
}
.rem {
    list-style-type: none;
}
.sub_b2 {
    display: flex;
    justify-content: center;
    width: 33vw;
}
.sub_b3 {
    display: flex;
    justify-content: center;
    width: 33vw;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.sub_b4 {
    display: flex;
    justify-content: center;
    width: 33vw;
}




.box2 {
    height: 20px;
    font-size: 11px;
    position: relative;

}
.box3 {
    height: 20px;
    font-size: 11px;


}
.name2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;


}

.smallBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    height: 20px;
    min-width: 150px;
    max-width: 200px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 11px;
    position: relative;
  }

  .smallBtn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: translateY(1px);
}
