@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --primary-color: #313131;
    --secondary-color: #585858;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: rgba(0, 136, 169, 1);
    --error-color: #d9534f;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.footer_container {
    display: grid;
    justify-content: space-around;
    position: fixed;
    grid-template-areas: 'person1 person2 person3 person4';
    width: 100%;
    height: 200px;
    z-index: 1;
    border-top: 1px solid black;

}
.trim {
    background-color: transparent!important;
}
.footer_container div {
    text-align: center;
    width: 300px;

}
.sty {
    display: inline-block;
    flex-direction: row;
}
.sty2 {
    display: inline-block;
    flex-direction: row;
    margin-left: 20px;
}
.linked{
    grid-area: linked;
    margin: auto;
    color: #5f9585;
    margin-left: 5px;

}
.github{
    grid-area: github;
    margin: auto;
    color: #5f9585;
    margin-left: 5px;
}
.p1 {
    display: grid;
    grid-area: person1;
    justify-content: space-around;
    grid-template-areas: "name linked github";

}
.p2 {
    display: grid;
    grid-area: person2;
    justify-content: space-around;
    grid-template-areas: "name linked github";

}
.p3 {
    display: grid;
    grid-area: person3;
    justify-content: space-around;
    grid-template-areas: "name linked github";

}
.p4 {
    display: grid;
    grid-area: person4;
    justify-content: space-around;
    grid-template-areas: "name linked github";

}
.name {
    color:black;
    font-size: 20px;
    font-weight: 700;
}


#app_title {
    text-decoration: none;
    color: white;
}

.logo {
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,1);
}
.container__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    height: 5vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    border-bottom: 1px solid black;
}
.container__navbar > div {
    display: flex;
    justify-content: space-between;
}

#logo {
    height:100%;
    width:100%;
}

#lg {
    display: flex;
    justify-content: center;
    max-width: 300px;
    max-height: 300px;
    background-color: transparent!important;
}

.container__logo:hover, #logo:hover, #lg:hover {
    background-color: none;
}
.container__logo:active {
    transform: translateY(1px);
}

.container__logo {
    margin: 0;
    order: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    color: var(--light-color);
    height: 100%;
}

.btn {
    min-width: 170px;
    max-width: 170px;;
    cursor: pointer;
    color:black;
    font-weight: 550;
    margin-right: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: white;
}


a {
    text-decoration: none;
}
