@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --primary-color: #313131;
    --secondary-color: #585858;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: rgba(0, 136, 169, 1);
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
}

.logo {
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,1);
}

.container__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
}

.container__navbar > div {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}

.container__logo {
    order: 0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    letter-spacing: 5px;
    color: var(--light-color);
    
}

.container__links {
    order: 1;
    display: flex;
    
}

.container__account {
    order: 2;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin-left: 0px;
}

/* .btn {
    box-shadow: 0px 0px 3px rgba(0,0,0,.7);
    background-color: var(--success-color);
    border-radius: 24px;
    color: var(--light-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
} */
.btn {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /* transition: all 0.3s ease 0s; */
    margin: 5px;
    /* box-sizing: border-box; */
    /* border appears when the button is being clicked. Needs to be fixed. */
}

.btn:hover {
    background-color: rgba(0, 136, 169, 0.8);
    transform: translateY(1px);
}

.btn:active {
    /* transform: translateY(1px); */
}

/* .button {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 10px 10px rgba(0, 0, 0, .8);
    margin: 10px;
} */

