@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --primary-color: #848484;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,1);
}

.container__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
}

.container__navbar > div {
    /* background-color: red; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.container__logo {
    order: 2;
    display: flex;
}

.container__links {
    order: 1;
    display: flex;

}

.container__account {
    order: 3;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin-left: 0px;
}

.btn {
    box-shadow: 0px 0px 3px rgba(0,0,0,.7);
    color: var(--dark-color);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    padding: 4px;
    cursor: pointer;
}

.btn:active {
    transform: translateY(1px);
}

.button {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 10px 10px rgba(0, 0, 0, .8);
    margin: 10px;
}
