.title {
   margin: 0;
   padding-top: 5px;
   padding-bottom: 10px;
   background-color: plum;
   display: flex;
   justify-content: center;
}

.myProfileHeader {
   position: fixed;
   display: inline;
   background-color: bisque;
   margin: 0px;
   padding: 40px;
   text-align: center;
   color: brown;
}
.myStampsHeader {
   background-color: beige;
   margin: 10px;
   padding: 10px;
   text-align: center;
   color: brown;
   border-radius: 2rem;
}
.gridContainer {
   font-family: Arial, Helvetica, sans-serif;
   display: grid;
   grid-template-columns:1fr 2fr 1fr;
   grid-template-areas:
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn"
   "leftSideColumn profileBody rightSideColumn";
}

.leftSideColumn {
   grid-area: leftSideColumn;
   background-color: pink;
}
.rightSideColumn {
   grid-area: rightSideColumn;
   background-color: lightblue;
}

.profileBody {
   grid-area: profileBody;
   justify-self: center;
   border-bottom: 2px solid black;
}

img[class^="stampImg"]  {
   margin: auto;
   max-width: 40rem;
   padding: 10px;
   box-sizing: border-box;
}


.tripName {
   color: darkgray;
   text-align: center;
   text-shadow: 4px;
}

.imgTag {
   list-style-type: none;
}
