
.gridContainer {
  display: flex;
  width: 100%;
  background-color: white;

}

.myStampsHeader {
   text-align: center;
}
.leftSideColumn {
   padding-top: 20px;
   display: flex;
   width: 20vw;
   flex-direction: column;

}
.rightSideColumn {
   padding-top: 20px;
   display: flex;
   width: 20vw;
   flex-direction: column;
}
.profileBody {
   padding-top: 20px;
   display: flex;
   width: 60vw;
   flex-direction: column;
   height: 900px;


}
.omg {
   color: black;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   width: 60vw;
   background-color: white;
   margin-top: 1rem;
   overflow-y: scroll;
}
.omg::-webkit-scrollbar {
   display: none;
}

.easy {
   display: flex;
   flex-wrap: wrap;
}
.medium {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.mask7 {
   background-color: white;
   border-radius: 0px;
   outline: none;
   border: none;
   width: 283px;
   height: 250px;
   padding-right: 5px;
}

.tripName {
   text-align: center;
   display: flex;
   justify-content: center;
   position: relative;
}
.tripName:hover .mask7 {
   opacity: 0.2;
}
.tripName:hover > h3 {
   display: block;
}
.tripName > h3 {
   display: none;
   color: black;
   text-decoration: none;
   font-size: 20px;
   font-weight: 600;
   width: 150px;
   text-transform: uppercase;
   position: absolute;
   top: 110px;



}
.imgLiTag {
   display: flex;
   align-items: center;
   justify-content: center;
   list-style-type: none;
}
.middle {
   text-align: center;
   font-weight: bold;
   font-size: 50px;
   color: black;
}
.id {
   display: none;
}
.user_id {
   display: none;
}
.updatedAt {
   display: none;
}
.createdAt {
   display: none;
}
.passport_status {
   margin: 0;
   padding: 5px;
   text-indent: 2px;
   font-weight: bold;
}
.need {
   font-size: 25px;
   width: 20vw;
   margin-top: 10px;
}

.passport_btn:hover {
   cursor: pointer;
}
.localPassport {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   margin-top: 1rem;
   width: 90%;

}
.goToPassport {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   margin-top: 1rem;
   width: 90%;

}
.visitedPassport {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   margin-top: 1rem;
   width: 90%;

}
.ImgContainer {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   padding: auto;
   border: none;
   height: 250px;
   width: 250px;
}
.localImg {
   height: 250px;
   width: 250px;
   cursor: pointer;
   border: 2px solid black;
}
.localImg:hover {
   opacity: 0.2;
}
.leftSideColumnTitle {
   text-align: center;
   font-weight: bold;
   font-size: 50px;
   color: black;

}
.hidden_stamp {
   display: none;
}
.passport_btn {
   position: relative;


}
.words1 {
   display: none;
   color: black;
   position: absolute;
   top: 115px;
   left: 75px;
   font-weight: 600;
   font-size: 25px;
}
.words2 {
   display: none;
   color: black;
   position: absolute;
   top: 115px;
   left: 55px;
   font-weight: 600;
   font-size: 25px;
}
.words3 {
   display: none;
   color: black;
   position: absolute;
   top: 115px;
   left: 95px;
   font-weight: 600;
   font-size: 25px;
}
.ImgContainer:hover .words1 {
   display: block;
}
.ImgContainer:hover .words2 {
   display: block;
}
.ImgContainer:hover .words3 {
   display: block;
}
