
.gridContainer {
  display: flex;
  width: 100vw;
  height: 81vh;
  background: linear-gradient(-45deg, #60319e, #1c368b, #3677ee, #0a1cbe);
  background-size:400% 400%;
  animation: extreme 20s ease-in-out infinite;
}
.passport_btn:hover {
   cursor: pointer;
}
@keyframes extreme {
   0% {
       background-position: 0 0;
   }
   50% {
       background-position: 100% 100%;
   }
   100% {
       background-position: 0 0;
   }
}
.myProfileHeader {
   width: 100%;
   background-color: bisque;
   margin: 0px;
   padding: 35px;
   text-align: center;
   color: black;
}
.myStampsHeader {
   margin: 10px;
   padding: 10px;
   text-align: center;
   margin-bottom: 20px;
}
.leftSideColumn {
   padding-top: 20px;
   display: flex;
   width: 20vw;
   flex-direction: column;
}
.rightSideColumn {
   padding-top: 20px;
   display: flex;
   width: 20vw;
   flex-direction: column;
}
.profileBody {
   display: flex;
   width: 60vw;
   flex-direction: column;
}
.omg {
   color: white;
   display: flex;
   flex-wrap: wrap;
   width: 60vw;
}
.easy {
   display: flex;
   flex-wrap: wrap;
}
.medium {
   display: flex;
   flex-direction: column;
   margin-left: 3rem;
}
img[class^="stampImg"] {
   max-width: 100%;
   box-sizing: border-box;
}
.mask1 {
   border-radius: 25%;
   width: 150px;
   height: 100px;
}
.mask2 {
   max-width: 25vw;
   border: 3px solid white
}
.tripName {
   text-align: center;
   display: flex;
   justify-content: center;
   padding-bottom: 20px;
}
.tripName > h3 {
   margin-left: 60px;
   color: white;
   font-size: 20px;
   width: 300px;
   text-transform: uppercase;
}
.imgLiTag {
   display: flex;
   align-items: center;
   justify-content: center;
   list-style-type: none;
}
.middle {
   text-align: center;
   font-weight: bold;
   font-size: 50px;
   color: white;
   border-bottom: 5px solid white;
}
.id {
   display: none;
}
.user_id {
   display: none;
}
.updatedAt {
   display: none;
}
.createdAt {
   display: none;
}
.passport_status {
   margin: 0;
   padding: 5px;
   text-indent: 2px;
   font-weight: bold;
}
.need {
   font-size: 25px;
   width: 20vw;
   margin-top: 10px;
}
.localPassport {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   margin-top: 1rem;
   width: 90%;
}
.goToPassport {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   margin-top: 1rem;
   width: 90%;
}
.visitedPassport {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   margin-top: 1rem;
   width: 90%;
}
.ImgContainer {
   display: flex;
   justify-content: space-around;
   list-style-type: none;
   padding: auto;
   border: none;
   max-width: 90%;
}
.localImg {
   height: 95%;
   width: 98%;
}
.leftSideColumnTitle {
   text-align: center;
   font-weight: bold;
   font-size: 50px;
   color: white;
   border-bottom: 5px solid white;
}
.hidden_stamp {
   display: none;
}
