@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root {
    --primary-color: #313131;
    --secondary-color: #585858;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: rgba(0, 136, 169, 1);
    --error-color: #d9534f;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.outer_container {
    height: 87vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../calibeach.JPG);
    background-size: cover;
    overflow: scroll;
}
.content_container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
    background-color: #aec5dce3;
    position: absolute;
    border-radius: 20px;
    width: 40vw;
    border: 3px solid black;
    height: 83vh;
}
.status_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 10vw;
}
.country_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 18vw;
}
.cost_header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10vw;

}
.toprow {
    display: flex;
    width: 6vw;
}
.toprow2 {
    display: flex;
    width: 15vw;
}
.row1 {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 40vw;
}
.trip_name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 40vw;
}
.trip_name_box {
    display: flex;
    width: 15vw;
}
.det_loc_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 40vw;
}
.det_box {
    display: flex;
    width: 15vw;
}
.start_date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 40vw;
}
.start {
    display: flex;
    width: 15vw;
}
.end_date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 40vw;
}
.end {
    display: flex;
    width: 15vw;
}
.det_desc_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    width: 40vw;
}
.det_big_box {
    display: flex;
    width: 15vw;
    height: 200px;
}
.tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 40vw;
}
.botrow {
    display: flex;
    width: 15vw;
}
.imgURL_label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 40vw;
}
.imgURL {
    display: flex;
    width: 15vw;
}
.row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 50px;
}
.star {
    display: flex;
    width: 2vw;

}
.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 40vw;
}
.errorHandling {
    padding-left: 70px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50px;
    width: 40vw;
}
