@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-color: #313131;
    --secondary-color: #585858;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: rgba(0, 136, 169, 1);
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.outer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    height: 90vh;
    width: 100vw;
    background-color: lightcoral;
}

.content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    position: absolute;
    border-radius: 20px;
    padding: 4rem;
    width: 40%;
    border: 3px solid black;
    
}

#create_stamp_form {
    display: grid;
    grid-template-columns: 1fr repeat(4, 1fr) 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "header_status header_country header_country header_country header_country header_cost"
    "status countries countries countries countries cost"
    "det_loc_text det_loc_text det_loc_text det_loc_text det_loc_text det_loc_text"
    "det_loc det_loc det_loc det_loc det_loc det_loc"
    "date date date date date date"
    "det_desc_text det_desc_text det_desc_text det_desc_text det_desc_text det_desc_text"
    "det_desc det_desc det_desc det_desc det_desc det_desc"
    "rating rating rating tag tag tag"
    "btn btn btn btn btn btn";
}


.detailed_location, #description {
    width: 100%;
}

.status_header {
    grid-area: header_status;
    text-align: left;
    font-size: large;
    align-self: flex-end;
}

.country_header {
    grid-area: header_country;
    text-align: center;
    font-weight: 800;
    font-size: x-large;
}

.cost_header {
    grid-area: header_cost;
    font-size: large;
    text-align: right;
    align-self: flex-end;
}

.status {
    grid-area: status;
}

#countries {
    grid-area: countries;
}

.price {
    grid-area: cost;
}

.det_loc_text {
    grid-area: det_loc_text;
    /* display: grid; */
    /* grid-template-areas: 1fr; */
    /* align-items: stretch; */
}

.det_desc {
    grid-area: det_desc;
}

.det_loc {
    grid-area: det_loc;
}

.det_desc_text {
    grid-area: det_desc_text;
}

.date {
    grid-area: date;
    display: flex;
    flex-direction: column;
}

.start {
    margin-bottom: 5px;
}

/* #start {
    grid-area: date_start;
}

#start {
    grid-area: date_end;
} */

.stamp_btn {
    display: block;
    width: 100%;
    margin: 0;
    grid-area: btn;
    justify-self: flex-end;
}

.rating {
    display: flex;
    grid-area: rating;
    grid-column: 1/3;
}

.tags {
    grid-area: tag
}