@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-color: #313131;
    --secondary-color: #585858;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: rgba(0, 136, 169, 1);
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.outer_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    height: 90vh;
    width: 100vw;
    background-color: lightcoral;
}

.content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    position: absolute;
    border-radius: 20px;
    padding: 4rem;
    width: 60%;
    border: 3px solid black;
    
}

#create_stamp_form {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr) 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "header_status header_country header_country header_country header_cost"
    "status countries countries countries cost"
    "det_loc_text det_loc_text det_loc_text det_loc_text det_loc_text"
    "det_loc det_loc det_loc det_loc det_loc"
    "det_desc_text det_desc_text det_desc_text det_desc_text det_desc_text"
    "det_desc det_desc det_desc det_desc det_desc"
    "rating rating rating tag tag"
    "btn btn btn btn btn";
}

.status_header, .country_header, .cost_header {
    text-align: center;
}

.detailed_location, #description {
    width: 100%;
}

.status_header {
    grid-area: header_status;
}

.country_header {
    grid-area: header_country;
}

.cost_header {
    grid-area: header_cost;
}

.status {
    grid-area: status;
}

#countries {
    grid-area: countries;
}

.price {
    grid-area: cost;
}

.det_loc_text {
    grid-area: det_loc_text;
    /* display: grid; */
    /* grid-template-areas: 1fr; */
    /* align-items: stretch; */
}

.det_desc {
    grid-area: det_desc;
}

.det_loc {
    grid-area: det_loc;
}

.det_desc_text {
    grid-area: det_desc_text;
}

.stamp_btn {
    display: block;
    width: 100%;
    margin: 0;
    grid-area: btn;
}

.rating {
    grid-area: rating;
    /* order: 3;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    box-sizing: border-box; */
}

/* .text_sections {
    order: 2;
    display: flex;
    flex-direction: column;
} */

/* .detailed_location {

}     */

