
.team_main {
    display: flex;
    /* flex-direction: row; */
    background-color: black;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
    width: 100vw;
    height: 81vh;
    color: white;
}

.team_container {
    display: flex;
    /* flex-direction: row; */
    background-color: black;
    justify-content: space-evenly;
    align-items: inherit;
    padding-right: 250px;
    padding-top: 100px;
    padding-left: 100px;
    /* justify-content: center; */
    /* flex-direction: column; */
    width: 100vw;
    height: 81vh;
    color: white;
}

.headshot_container {
    /* display: flex;
    box-sizing: border-box; */
    /* position: absolute; */
    /* top: 56px; */
    /* left: calc(50% - 52px); */
    width: 104px;
    height: 104px;
    border-radius: 100%;
    /* background: url(../veer.jpg); */
    background-size: 9vw 19vh;
    border: 2px solid white;
    /* overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden; */
}

.headshot_container > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

 .icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team1_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.H1a{
    margin-left: 100px;
    border: 2px solid green;
    height: 260px;
    width: 400px;
    padding-top: 20px;
}
.H2a{
    margin-left: 100px;
    border: 2px solid red;
    height: 260px;
    width: 400px;
    padding-top: 20px;
}
.H3a{
    margin-left: 100px;
    border: 2px solid blue;
    height: 260px;
    width: 400px;
    padding-top: 20px;
}
.H4a{
    margin-left: 100px;
    border: 2px solid orange;
    height: 260px;
    width: 400px;
    padding-top: 20px;
}
.beta {
padding-top: 70px;
font-size: 16px;
}

.pos {
    padding-right: 20px;
    background-color: transparent!important;
}
.neg {
    background-color: transparent!important;
}
